@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-deep-navy: #020617;
  --color-soft-white: #f8fafc;
  --color-pure-black: #000000;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 400ms;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px; 
}

body {
  min-height: 100vh;
  transition: background-color 0.5s ease, color 0.5s ease;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.dark ::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #1e40af;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}